<br>
<div class='container col-xl-8 px-4 py-1'>
    <div class="p-5 mb-4 bg-transparent">
        <div class="container-fluid">
            <h1 class="display-5">About Me</h1>
            <hr>
            <br>
            <p class="col-md-12 fs-8">Hey there, I'm Zach, a software developer with a passion for exploring both the digital and natural worlds. My journey into the realm of coding began modestly, tinkering with Python scripts that solved everyday problems. As I honed my skills, I delved deeper, embracing the challenge of Micropython for embedded devices, where I discovered the thrill of bringing code to life in tangible, real-world applications.
            </p><br>

            <p class="col-md-12 fs-8">
            My career path took a serendipitous turn when I found myself immersed in the world of data parsing, harnessing the power of Python to extract structured information from the chaos of PDFs. This experience laid the groundwork for my foray into web development, where I first cut my teeth on Flask before diving headfirst into the robust ecosystem of Django.
            </p><br>

            <p class="col-md-12 fs-8">
                But just as rivers twist and turn, so too does my journey in technology. Currently, I'm navigating the rapids of Ruby on Rails, finding joy in its elegant simplicity and powerful capabilities. Each new language and framework I encounter is a fresh opportunity to expand my horizons and deepen my understanding of the ever-evolving landscape of software development.
            </p><br>

            <p class="col-md-12 fs-8">
                Beyond the screen, you'll often find me chasing adrenaline rushes on whitewater rivers, both in the United States and beyond. Whether I'm debugging code or navigating rapids, I thrive on the excitement of exploration and the satisfaction of overcoming challenges.
            </p><br>

            <p class="col-md-12 fs-8">
                Join me on this exhilarating journey as we ride the currents of technology together!
            </p><br>
            
            <button class="btn btn-dark btn-lg" type="button">My Projects</button>
        </div>
    </div>
</div>