<br>
<div class='container col-xl-8 px-4 py-1'>
    <div class="p-lg-5 p-1 mb-4 bg-transparent">
        <div class="container-fluid">
            <h1 class="display-5">About Me</h1>
            <hr>
            <br>
            <p class="col-md-12 fs-8">Hey there! I’m Zach, a full stack software developer who's just getting started in the tech world. I’ve got a passion for building things that work smoothly, both on the front end and the back end. My journey learning to code has been incredibly fufilling so far, and I’m eager to keep growing in a professional environment.
            </p><br>
            <p class="col-md-12 fs-8">I’m all about diving into new challenges, figuring things out, and collaborating with others to create awesome stuff. Whether it’s working on a web app or tinkering with code to solve problems in the physical world, I’m ready to bring my energy and curiosity to the table. I'm exited to see where this path takes me and to contribute to some cool projects along the way!
            </p><br>
            <p class="col-md-12 fs-8">Thanks for stopping by, and feel free to reach out if you want to connect or chat about tech! If you'd like to check out what I've been working on, head over to the Projects page or check out my Github.
            </p><br>
            
            <button class="btn btn-dark btn-lg" type="button">My Projects</button>
            <button type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2">Contact Me</button>
        </div>
    </div>
</div>