<div class="container col-xxl-8 px-4 py-1">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-12 col-sm-12 col-lg-6">
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
        <dotlottie-player src="https://lottie.host/6ee8fbbb-67bb-4c61-8f91-d144c5008c1d/3mD8H3tMF1.json" background="transparent" speed="1" loop autoplay></dotlottie-player>
      </div>
      <div class="col-lg-6">
        <h3 class="display-6 fw-light lh-1 mb-3">Hi, my name is</h3>
        <h1 class="display-3 fw-bold text-body-emphasis lh-1 mb-3">Zach Ehlert</h1>
        <hr>
        <p class="lead">I'm a web development enthusiast who enjoys solving problems with code. Here, you'll find a collection of my latest software projects and experiments in the world of web development. </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <%= link_to "More about me", home_about_path, class:"btn btn-dark btn-lg px-4 me-md-2" %>
          <%= link_to "My projects", projects_path, class:"btn btn-outline-dark btn-lg px-4" %>
        </div>
      </div>
    </div>
  </div>