<div class="container col-xxl-8 px-4 py-1">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
        <dotlottie-player src="https://lottie.host/6ee8fbbb-67bb-4c61-8f91-d144c5008c1d/3mD8H3tMF1.json" background="transparent" speed="1" loop autoplay></dotlottie-player>
      </div>
      <div class="col-lg-6">
        <h3 class="display-6 lh-1 mb-3">Hi, my name is</h3>
        <h1 class="display-4 fw-bold text-body-emphasis lh-1 mb-3">Zach Ehlert</h1>
        <hr>
        <p class="lead">I'm a passionate software enthusiast with a deep love for artificial intelligence and game development. With a curious mind and a determination to push the boundaries of technology, I find joy in creating innovative solutions and immersive experiences</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">More about me</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">My projects</button>
        </div>
      </div>
    </div>
  </div>